# ............ TypeScript-00 ............
/step-00-hello-world/node_modules
/step-00-hello-world/package-lock.json
/step-00-hello-world/.gitignore
/step-00-hello-world/.DS_Store

# ............ TypeScript-01 ............
/step-01-json-objects/node_modules
/step-01-json-objects/package-lock.json
/step-01-json-objects/.gitignore
/step-01-json-objects/.DS_Store

# ............ TypeScript-02 ............
/step-02-syntax-error/node_modules
/step-02-syntax-error/package-lock.json
/step-02-syntax-error/.gitignore
/step-02-syntax-error/.DS_Store

# ............ TypeScript-03 ............
/step-03-type-error/node_modules
/step-03-type-error/package-lock.json
/step-03-type-error/.gitignore
/step-03-type-error/.DS_Store

# ............ TypeScript-04 ............
/step-04-assignment-error/node_modules
/step-04-assignment-error/package-lock.json
/step-04-assignment-error/.gitignore
/step-04-assignment-error/.DS_Store

# ............ TypeScript-05 ............
/step-05-strong-typing/node_modules
/step-05-strong-typing/package-lock.json
/step-05-strong-typing/.gitignore
/step-05-strong-typing/.DS_Store

# ............ TypeScript-06 ............
/step-06-const-let/node_modules
/step-06-const-let/package-lock.json
/step-06-const-let/.gitignore
/step-06-const-let/.DS_Store