# ............ TypeScript-00 ............
/step-00-hello-world/node_modules
/step-00-hello-world/package-lock.json
/step-00-hello-world/.DS_Store

# ............ TypeScript-01 ............
/step-01-json-objects/node_modules
/step-01-json-objects/package-lock.json
/step-01-json-objects/.DS_Store

# ............ TypeScript-02 ............
/step-02-syntax-error/node_modules
/step-02-syntax-error/package-lock.json
/step-02-syntax-error/.DS_Store

# ............ TypeScript-03 ............
/step-03-type-error/node_modules
/step-03-type-error/package-lock.json
/step-03-type-error/.DS_Store

# ............ TypeScript-04 ............
/step-04-assignment-error/node_modules
/step-04-assignment-error/package-lock.json
/step-04-assignment-error/.DS_Store

# ............ TypeScript-05 ............
/step-05-strong-typing/node_modules
/step-05-strong-typing/package-lock.json
/step-05-strong-typing/.DS_Store

# ............ TypeScript-06 ............
/step-06-const-let/node_modules
/step-06-const-let/package-lock.json
/step-06-const-let/.DS_Store

# ............ TypeScript-07 ............
/step-07-modules/node_modules
/step-07-modules/package-lock.json
/step-07-modules/.DS_Store

# ............ TypeScript-08 ............
/step-08-ecma-script-modules/node_modules
/step-08-ecma-script-modules/package-lock.json
/step-08-ecma-script-modules/.DS_Store

# ............ TypeScript-09 ............
/step-09-inquirer/node_modules
/step-09-inquirer/package-lock.json
/step-09-inquirer/.DS_Store

# ............ TypeScript-10 ............
/step-10-chalk/node_modules
/step-10-chalk/package-lock.json
/step-10-chalk/.DS_Store

# ............ TypeScript-11 ............
/step-11-union-literals/node_modules
/step-11-union-literals/package-lock.json
/step-11-union-literals/.DS_Store

# ............ TypeScript-12 ............
/step-12-objects/node_modules
/step-11-objects/package-lock.json
/step-11-objects/.DS_Store

# ............ TypeScript-13 ............
/step-13-object-aliased/node_modules
/step-13-object-aliased/package-lock.json
/step-13-object-aliased/.DS_Store


# ............ TypeScript-14 ............
/step-14-object-structural-typing/node_modules
/step-14-object-structural-typing/package-lock.json
/step-14-object-structural-typing/.DS_Store

# ............ TypeScript-15 ............
/step-15-nested-objects/node_modules
/step-15-nested-objects/package-lock.json
/step-15-nested-objects/.DS_Store

# ............ TypeScript-16 ............
/step-16-union-intersection-types/node_modules
/step-16-union-intersection-types/package-lock.json
/step-16-union-intersection-types/.DS_Store

# ............ TypeScript-17 ............
/step-17-explicit-casting/node_modules
/step-17-explicit-casting/package-lock.json
/step-17-explicit-casting/.DS_Store

# ............ TypeScript-18 ............
/step-18-arrays/node_modules
/step-18-arrays/package-lock.json
/step-18-arrays/.DS_Store

# ............ TypeScript-19 ............
/step-19-functions/node_modules
/step-19-functions/package-lock.json
/step-19-functions/.DS_Store

# ............ TypeScript-20 ............
/step-20-function-parameters/node_modules
/step-20-function-parameters/package-lock.json
/step-20-function-parameters/.DS_Store

# ............ TypeScript-21 ............
/step-21-async-functions/node_modules
/step-21-async-functions/package-lock.json
/step-21-async-functions/.DS_Store

# ............ TypeScript-22 ............
/step-22-function-overloads/node_modules
/step-22-function-overloads/package-lock.json
/step-22-function-overloads/.DS_Store

# ............ TypeScript-23 ............
/step-23-enum/node_modules
/step-23-enum/package-lock.json
/step-23-enum/.DS_Store

# ............ TypeScript-24 ............
/step-24-tuples/node_modules
/step-24-tuples/package-lock.json
/step-24-tsuples/.DS_Store